#navbar-brand-title{
    color: black !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Style the search input */
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    outline: none; /* Remove the input's outline on focus */
}

/* Style the search button */
.search-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* Add hover effect to the search button */
.search-button:hover {
    background-color: #0056b3;
}